.cal-container {
  position: relative;
  margin: 3rem auto;
  width: 80vw;
  height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $black;
  background-color: $grey-light-2;
  border-top: solid 0.5rem orange;

  .cal-header {
    height: 10%;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cal-header-btn-group {
      display: flex;
      gap: 1.5rem;
      font-size: 2rem;
    }

    .cal-header-date {
      font-size: 2.5rem;
    }

    .goto-today {
      display: flex;
      gap: 1rem;
    }
  }

  table,
  th,
  td {
    border: solid 0.13rem $grey-dark-2;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .month-grid {
    height: 90%;
    color: $primary-clr-1;
    // display: table;

    thead {
      display: table-header-group;
      font-size: 1.5rem;
      font-weight: 100;
    }

    tbody {
      display: table-row-group;

      .grid-day-frame {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;

        .grid-day-header {
          position: absolute;
          right: 0.5rem;
          top: 0.2rem;
          font-size: 1.3rem;
        }
        .grid-day-body {
          position: absolute;
          height: 80%;
        }
      }

      .prev-date,
      .next-date {
        opacity: 0.3;
      }
    }
  }
}

// .cal-header {
//   position: absolute;
//   width: 100%;
//   height: 150px;
//   display: flex;
// }

// .cal-header-date {
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   font-size: 1.2rem;
//   text-transform: capitalize;
//   left: 50%;
//   transform: translateX(-50%);
// }

// .month-grid {
//   position: absolute;
//   top: 100px;
//   width: 100%;
//   height: 100vh;
// }

// .prev,
// .next {
//   cursor: pointer;
// }

// table {
//   width: 100%;
// }

// table th {
//   width: 300px;
// }

// .grid-week .active {
//   font-size: 2rem;
//   background-color: greenyellow;
// }

// .grid-day:not(.prev-date, .next-date) {
//   color: red;
// }

// .grid-week .today {
//   font-size: 2rem;
//   color: yellow;
// }

// .grid-week .event {
//   position: relative;
// }

// .grid-week .event::after {
//   content: '';
//   position: absolute;
//   bottom: 10px;
//   left: 50%;
//   width: 75%;
//   height: 6px;
//   border-radius: 30px;
//   transform: translateX(-50%);
//   background-color: aqua;
// }

// .cal-header .goto-today {
//   width: 100%;
//   height: 50px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: 5px;
//   padding: 0 20px;
//   right: 10px;
// }

// .cal-header .goto-today .goto {
//   display: flex;
//   align-items: center;
//   border-radius: 5px;
//   overflow: hidden;
//   border: solid 1px $primary-clr-3;
// }
